:root {
  --light-gray: #dedede;
  --dark-purple: #49495f;
  --main-purple: #6c6c8e;
}

#game {
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 475px;
  font-family: "Lucida Sans";
  text-align: center;
  color: var(--dark-purple);
}

#header {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 4px double var(--dark-purple);
  flex: 1;
  margin-bottom: 15px;
}

.number {
  height: 40px;
  width: 100px;
  border: 2px solid var(--dark-purple);
  margin: 20px;
  font-size: 2em;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

.difficulty {
  cursor: pointer;
  background-color: var(--light-gray);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  font-size: 1em;
}

#buttons-difficulty {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#board {
  flex-direction: column;
}

.row {
  display: flex;
}
