#board {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.difficulty {
  cursor: pointer;
  border: 3px outset gray;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  font-family: Helvetica, monospace;
  background-color: #e8e8e8;
  text-align: center;
}

#buttons-difficulty {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 10px;
  align-self: center;
}

#header {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 4px double gray;
  flex: 1;
}

#game {
  border: 1px solid gray;
  justify-content: center;
  padding: 30px;
  min-height: 475px;
}

.number {
  height: 40px;
  width: 75px;
  border: 1px solid gray;
  margin: 20px;
  font-family: monospace;
  font-size: 35px;
}

#playAgain {
  height: 40px;
  width: 70px;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  border: 2px outset #a3a3c3;
  height: 25px;
  width: 25px;
  user-select: none;
}

.val, .clicked{
  text-align: center;
  background-color: #e8e8e8;
  font-family: "Lucida Sans", monospace;
  font-weight: bold;
  border: 2px inset #e8e8e8;
}

.unclicked, .flagged, .bomb {
  background-color: #a3a3c3;
}

.unclicked, .flagged {
  cursor: pointer;
}

.bomb {
  background-image: url('./mine.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.flagged {
  text-align: center;
  font-family: "Lucida Sans", monospace;
  font-size: 20;
  background-image: url('./flag.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.c1 {
  color: darkblue;
}

.c2 {
  color: darkgreen;
}

.c3 {
  color: darkred;
}

.c4 {
  color: purple;
}

.c5 {
  color: orange;
}

.c6 {
  color: indigo;
}
